body {
    background-color: #f0ead6;
    width: 200px;
    height: 300px;
}

h1 {
    color: mediumturquoise;
    font-family: Helvetica;
    text-align: center;
}

h2 {
    color: black;
    font-family: Helvetica;
    text-align: center;
}

p {
    color: #FF1493;
    font-family: Helvetica;
    text-align: center;
}